pipeline/PL_Pre_Processing.json
{
	"name": "PL_Pre_Processing",
	"properties": {
		"activities": [
			{
				"name": "ForEach Child Item",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter out base file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter out base file').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Cleanse file names",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_USER_BINARY",
									"type": "DatasetReference",
									"parameters": {
										"container": "columbus",
										"directory": "RawVideoFiles",
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_USER_BINARY",
									"type": "DatasetReference",
									"parameters": {
										"container": "columbus",
										"directory": "CleansedNameVideoFile",
										"filename": {
											"value": "@replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(item().name,' ',''),'!',''),'@',''),'#',''),'$',''),'%',''),'^',''),'&',''),'*',''),'(',''),')','')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get list of file from container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_USER_BINARY",
						"type": "DatasetReference",
						"parameters": {
							"container": "columbus",
							"directory": "RawVideoFiles",
							"filename": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter out base file",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get list of file from container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get list of file from container').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().name,'Please place raw video files here'))",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}