pipeline/TEST_Grouping_Files_Child.json
{
	"name": "TEST_Grouping_Files_Child",
	"properties": {
		"activities": [
			{
				"name": "Until Folder is full",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('FileCount'),20)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy into folder",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_USER",
									"type": "DatasetReference",
									"parameters": {
										"container": "columbus",
										"directory": "TESTGrouping",
										"filename": {
											"value": "@pipeline().parameters.filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_USER",
									"type": "DatasetReference",
									"parameters": {
										"container": "columbus",
										"directory": {
											"value": "@concat('TESTGrouping/Group',variables('FolderNumber'))",
											"type": "Expression"
										},
										"filename": {
											"value": "@pipeline().parameters.filename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set i",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy into folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "i",
								"value": {
									"value": "@string(add(int(variables('FolderNumber')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set FolderNumber",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set i",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FolderNumber",
								"value": {
									"value": "@variables('i')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"ContainerFileArray": {
				"type": "array"
			},
			"FolderNumber": {
				"type": "string"
			}
		},
		"variables": {
			"i": {
				"type": "String",
				"defaultValue": "1"
			},
			"FileNumber": {
				"type": "String"
			}
		},
		"annotations": []
	}
}