pipeline/TEST2.json
{
	"name": "TEST2",
	"properties": {
		"activities": [
			{
				"name": "Pull FileCountIncremental",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "FileCount",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_USER_CSV",
						"type": "DatasetReference",
						"parameters": {
							"container": "columbus",
							"directory": "FileCount"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Pull FileCountIncremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "test",
					"value": {
						"value": "@activity('Pull FileCountIncremental').output.value[0]",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"test": {
				"type": "String"
			}
		},
		"annotations": []
	}
}