pipeline/TEST_Grouping_Files_Main.json
{
	"name": "TEST_Grouping_Files_Main",
	"properties": {
		"activities": [
			{
				"name": "Get list of file from container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_USER_BINARY",
						"type": "DatasetReference",
						"parameters": {
							"container": "columbus",
							"directory": "TESTGrouping",
							"filename": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Set ContainerFileArray",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get list of file from container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ContainerFileArray",
					"value": {
						"value": "@activity('Get list of file from container').output.childItems",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set TotalFileCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set ContainerFileArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TotalFileCount",
					"value": {
						"value": "@string(length(activity('Get list of file from container').output.childItems))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until run out of files in container",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set TotalFileCount",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set FileCountRemaining",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('FileCountIncremental'),variables('TotalFileCount'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Child",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "TEST_Grouping_Files_Child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ContainerFileArray": {
										"value": "@variables('ContainerFileArray')",
										"type": "Expression"
									},
									"FolderNumber": {
										"value": "@variables('FolderNumber')",
										"type": "Expression"
									},
									"FileCountIncremental": {
										"value": "@variables('FileCountIncremental')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Increment i",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Child",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "i",
								"value": {
									"value": "@string(add(int(variables('FileCountIncremental')),20)) ",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set FileCountIncremental",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Increment i",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "",
								"value": {
									"value": "@variables('i')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Increment j",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Child",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "i",
								"value": {
									"value": "@string(add(int(variables('FolderNumber')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set FolderNumber",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Increment j",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "",
								"value": {
									"value": "@variables('j')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Set FileCountRemaining",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set ContainerFileArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileCountRemaining",
					"value": {
						"value": "@string(length(activity('Get list of file from container').output.childItems))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"TotalFileCount": {
				"type": "String"
			},
			"FileCountIncremental": {
				"type": "String",
				"defaultValue": "1"
			},
			"ContainerFileArray": {
				"type": "Array"
			},
			"GISFolderName": {
				"type": "String",
				"defaultValue": "JustATest"
			},
			"i": {
				"type": "String",
				"defaultValue": "1"
			},
			"FolderNumber": {
				"type": "String",
				"defaultValue": "1"
			},
			"j": {
				"type": "String",
				"defaultValue": "1"
			},
			"FileCountRemaining": {
				"type": "String"
			}
		},
		"annotations": []
	}
}