pipeline/TEST_Grouping_Files_Main.json
{
	"name": "TEST_Grouping_Files_Main",
	"properties": {
		"activities": [
			{
				"name": "Get list of file from container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_USER",
						"type": "DatasetReference",
						"parameters": {
							"container": "columbus",
							"directoy": "TESTGrouping",
							"filename": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Set ContainerFileArray",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get list of file from container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ContainerFileArray",
					"value": {
						"value": "@activity('Get list of file from container').output.childItems",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set TotalFileCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set ContainerFileArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TotalFileCount",
					"value": {
						"value": "@string(length(activity('Get list of file from container').output.childItems))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set FileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set TotalFileCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@string(activity('Get list of file from container').output.childItems[0].name)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Copy into fodler true",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_USER",
						"type": "DatasetReference",
						"parameters": {
							"container": "columbus",
							"directoy": "TESTGrouping",
							"filename": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_USER",
						"type": "DatasetReference",
						"parameters": {
							"container": "columbus",
							"directoy": {
								"value": "@concat('TESTGrouping/Group',variables('FolderNumber'))",
								"type": "Expression"
							},
							"filename": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"TotalFileCount": {
				"type": "String"
			},
			"FileCountIncremental": {
				"type": "String",
				"defaultValue": "1"
			},
			"FolderNumber": {
				"type": "String",
				"defaultValue": "1"
			},
			"ContainerFileArray": {
				"type": "Array"
			},
			"GISFolderName": {
				"type": "String",
				"defaultValue": "JustATest"
			},
			"FileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}